<body>
This package contains the classes allowing to read and write formatted data files; see the main class {@link com.imsweb.layout.LayoutFactory}.
<br/><br/>
The factory class can be used to get instances of {@link com.imsweb.layout.Layout} objects which can then be used to read/write data files.
<br/><br/>
There are currently two layout types supported: {@link com.imsweb.layout.record.fixed.FixedColumnsLayout} and
{@link com.imsweb.layout.record.csv.CommaSeparatedLayout}.
<br/><br/>
The package also contains default implemetations of the NAACCR layouts.
</body>